.aboutSection {
  font-family: "NaNTragedy", serif;
  font-weight: 400;
  color: #fff;
  font-size: calc(20px + 2vw);
  padding: 120px 20px;
}

.aboutSection p {
  margin-bottom: 40px;
}

.sectionTitle {
  text-transform: uppercase;
  padding-left: 20px;
  font-size: calc(14px + 1vw);
  padding-bottom: 10px;
}

.line {
  height: 1px;
  width: calc(100% - 40px);
  margin: 0 20px;
  background: #fff;
}

.placeholder {
  width: 100vw;
  height: 100vh;
  background: #000;
}
